@page "/"
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Sqlite Peoples!</h1>

<div class="row">
    <div class="col col-6">
        <EditForm OnSubmit="AddPerson" Model="newPerson">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label>First Name</label>
            <InputText @bind-Value="@newPerson.FirstName" />
            <label>Last Name</label>
            <InputText @bind-Value="@newPerson.LastName" />
            <button type="submit">Submit</button>
        </EditForm>
    </div>
    <div class="col col-6">
        <h3>Existing People</h3>
        @foreach (var person in people)
        {
            <h5>@person.FirstName @person.LastName</h5>
        }
    </div>
</div>





@code{

    List<Person> people = new List<Person>();
    Person newPerson = new();
    protected override async Task OnInitializedAsync()
    {
        await LoadPeople();
    }


    private async Task LoadPeople()
    {
        people = await httpClient.GetFromJsonAsync<List<Person>>("/api/GetAllPeople");
    }

    private async Task AddPerson()
    {
        //var person = new Person() { FirstName = "Prog", LastName = "Testing", Age = 20, Email = "holycow@moo.org" };
        newPerson.Email = "test";
        var peopleResult = await httpClient.PostAsJsonAsync("/api/AddPerson", newPerson);
        people.Add(await peopleResult.Content.ReadFromJsonAsync<Person>());
        newPerson = new();
    }
}